<div class="form-wrapper">
    <TelerikTextArea Id="textArea" FillMode="@ThemeConstants.TextArea.FillMode.Outline"
    Rounded="@ThemeConstants.TextArea.Rounded.Large" Size="@ThemeConstants.TextArea.Size.Large"
                     AutoSize=true Placeholder="Enter your text here">

    </TelerikTextArea>
</div>
<style>
    .form-wrapper .k-textarea > textarea {
        height: 120px;
        max-height: 550px;
        color:white;
        background-color: #605772
    }
</style>
@code {

}
